@charset "UTF-8";
.containerLogin {
  height: 75vh;
}

.contLogin {
  margin-top: 20%;
  margin-left: 38px;
}

.btnL:hover {
  background-color: #9f9fed;
  cursor: pointer;
}

.contImgLoginW {
  display: none;
}

.cardLogin {
  width: 327px;
  height: 390px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 30px;
}

.inputLogin {
  width: 270px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: #f7f7f7;
  margin-bottom: 12px;
  padding-left: 12px;
}

.contentLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btnL {
  background-color: #736ced;
  color: white;
  border-radius: 8px;
  width: 327px;
  height: 48px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;
  font-size: 16px;
  margin-top: 32px;
}

.contetaContaseña {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-top: 16px;
  margin-left: 60px;
}

.aContaseña {
  color: #736ced;
  font-size: 14px;
}

.upInputLogin {
  font-size: 12px;
  color: #3b4559;
  margin-bottom: 0;
}

.lineLogin {
  height: 5px;
  margin-left: 0%;
  margin-right: 90%;
  margin-bottom: 24px;
  background-color: #3b4559;
  border-radius: 5px;
}

.titleLogin {
  color: #3b4559;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: bold;
}

.contimgLoginW {
  display: none;
}

@media only screen and (min-width: 768px) {
  .containerLoginAndimg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 108vw;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 46px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .containerLogin {
    height: 75vh;
    margin-top: 60px;
  }
  .contImgLoginW {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 300px;
  }
  .imgLoginW {
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 820px) {
  .containerLoginAndimg {
    height: 120vw;
  }
  .imgLoginW {
    padding-bottom: 300px;
  }
  .contImgLoginW {
    padding-bottom: 180px;
  }
}

@media only screen and (min-width: 1280px) {
  .cardLogin {
    width: 510px;
    height: 460px;
  }
  .upInputLogin {
    margin-top: 25px;
  }
  .containerLogin {
    margin: 0;
  }
  .contLogin {
    margin: 0;
  }
  .inputLogin {
    width: 450px;
    height: 55px;
  }
  .containerLoginAndimg {
    height: 83vh;
    margin-bottom: 42px;
  }
  .contImgLoginW {
    padding-bottom: 0px;
    width: 300px;
  }
}
/*# sourceMappingURL=signIn.module.css.map */